html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title p5 Playground

        //- Main stylesheet.
        link(rel="stylesheet", href="css/main.css")

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet")

        //- Scripts.
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js")
        script(src="js/main.js")
    body
        header
            h1 p5.js playground
            p made by 
                a(href="https://gitlab.com/justinac" target="_blank") justin chappell
